.top {
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 
    "one two",
    "three three";
}

.top>.image>img {
    width: 100%;
    height: 100%;
}

.main-info {
    grid-column: 2/4;
}

.main-info .url a {
    word-wrap: break-word;
}

.synopsis {
    grid-column: 1/4;
    overflow-y: scroll;
}

.foot {
    height: 40px;
    float: right;
}