.canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
}

.context-menu-box {
    width: 16rem;
    z-index: 10;
}

.background-select {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: 0;
}
.background-select:hover {
    background-color: #bbddba;
    color: lightslategray;
}

@media (max-width:500px) {
    .canvas {
        display: none;
    }
}